@import '~@fontsource/karla/700.css';
@import '~@fontsource/inter/400.css';
@import './hamburgers-config.scss';
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

* {
  margin: 0;
}

.outer-box {
  background: #111;
  display: grid;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hamburger {
  grid-column: 3;
}

.table {
  background-color: white;
  grid-column: 2;
  grid-row: 2;
  border-radius: 10px;
  transition: transform 0.275s cubic-bezier(0.5, -0.56, 1, 2.4);
  opacity: 0;
}

.table.open {
  opacity: 1;
}

.inner-box {
  grid-column: 2;
  grid-row: 2;
  background: #333;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 12.1076% 11.7363%;
}

.title {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 25.6px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.03em;
  color: white;
}

.instructions {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13.1072px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.03em;
  color: white;
  text-align: center;
}

.dice {
  width: 100%;
  height: 35.69620253%;
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-template-rows: repeat(2, min-content);
  justify-content: space-between;
  align-content: space-between;
}

.face {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    'a . c'
    'e g f'
    'd . b';

  flex: 0 0 auto;
  padding: 9.803921569%;

  background-color: #e7e7e7;
  box-shadow: inset 0 5px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7,
    inset -5px 0 #d7d7d7;
  border-radius: 10%;
  cursor: pointer;
}

.face.held {
  background-color: #5ae895;
  box-shadow: inset 0 5px #63ffa3, inset 0 -5px #49ba77, inset 5px 0 #54d689,
    inset -5px 0 #54d689;
}

.pip {
  display: block;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  background-color: #333;
  box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

.pip:nth-child(2) {
  grid-area: b;
}
.pip:nth-child(3) {
  grid-area: c;
}
.pip:nth-child(4) {
  grid-area: d;
}
.pip:nth-child(5) {
  grid-area: e;
}
.pip:nth-child(6) {
  grid-area: f;
}
/* This selects the last pip of odd-valued dice (1, 3, 5) and positions the pip in the center */
.pip:nth-child(odd):last-child {
  grid-area: g;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.stopwatch,
.rolls-count {
  color: white;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 16.384px;
  line-height: 19px;
  width: 20px;
  flex: auto;
  text-align: center;
}

.btn {
  background: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  border: none;
  color: white;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 16.384px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

@media (orientation: landscape) {
  .outer-box {
    height: 100vh;
    width: 94.9868vh;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
  }
  .table {
    width: 84.43271768vh;
    height: 84.43271768vh;
    transform: translateX(-5.27704116vh);
  }
  .table.open {
    transform: translateX(0vh);
  }
  .inner-box {
    width: 84.43271768vh;
    height: 84.43271768vh;
  }
  .face {
    width: 9.45646438vh;
    height: 9.45646438vh;
  }
  .pip {
    width: 1.830283428vh;
    height: 1.830283428vh;
  }
  .btn {
    width: 24.31662269vh;
    height: 9.45646438vh;
  }
}

@media (orientation: portrait) {
  .outer-box {
    width: 100vw;
    height: 105.2778vw;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
  }
  .table {
    width: 88.88888889vw;
    height: 88.88888889vw;
    transform: translateX(-5.555555555vw);
  }
  .table.open {
    transform: translateX(0vw);
  }
  .inner-box {
    width: 88.88888889vw;
    height: 88.88888889vw;
  }
  .face {
    width: 9.955555556vw;
    height: 9.955555556vw;
  }
  .pip {
    width: 1.92688172vw;
    height: 1.92688172vw;
  }
  .btn {
    width: 25.6vw;
    height: 9.955555556vw;
  }
}
